.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
  color: aqua;
  margin-top: 80px;
  padding-top: 80px;
  border: 10px solid gold;
}

.big-text {
  font-size: 18pt;
}

a {
  background-color: #66c971;
  text-decoration: none;
  color: black;
  padding: 50px;
  font-weight: bold;
  border-radius: 60px;
  display: block;
  text-align: center;
}

a:hover {
  color: #66c971;
  background-color: black;
}
