:root {
  --dcinside-blue: #3b4890;
}

.bar {
  background-color: var(--dcinside-blue);
}

.parent {
  display: flex;
  gap: 20px;
  padding: 15px;
}

.parent div {
  color: white;
  font-weight: bold;
  font-size: 10pt;
}
.parent div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mini::after {
  content: "";
  display: inline-block;
  background-color: red;
  width: 2px;
  height: 15px;
  vertical-align: -3px;
  margin-left: 10px;
  margin-right: -10px;
}
